@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&family=Raleway:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap");

// Colors
$primary-color: #36bbe7;
$primary-md-color: #406f7f;
$primary-dr-color: #324e63;

$color-white: #f3f6f7;
$color-grey: #ccdbdc;
$color-yellow: #fdc135;
