.title {
  font-family: inherit;
  font-size: 32px;
  font-weight: 700;
  color: #324e63;
}

.repo-card {
  padding: 2rem 3rem;
  background-color: #f3f6f7;
  margin-bottom: -0.3rem;
  border-radius: 12px;
  text-align: center;
  width: 80vw;
  min-height: 60px;
}
